.header {
  position:absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  background-color: #178b21;  
  border-radius: .25rem;
  height: 10vh;
  width: 100%;

}

.headerBrand {
  position: relative;
  margin: 15px;
  font-size: calc(.8em + 3.5vw);
  color: #fff;
}
