.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: auto;
}
.footer .container {
    text-align: center;
    position: relative;
    margin-top: 25px;
}

@media screen and (max-width: 800px) {
    .footer{
        position: relative;
        margin-top: 25px;
    }
}
