.false {
    margin-top: 1rem;
    position: absolute;
    right: 15px;
}

.barcodeWrapper {
    display: flex;
    justify-content: center;

}

@media screen and (max-width: 800px) {
    .barcodeWrapper video {
        width: 90%;
    }
}
